<!DOCTYPE html>
{% set pagetitle %}{% block title %}{{ 'home.meta.title'|trans }}{% endblock %}{% endset %}
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>{{ pagetitle }}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="{{asset('public/css/style.css')}}" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
        }
        .starter-template {
            padding: 40px 15px;
        }
    </style>
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index:1000;">
    <a class="navbar-brand" href="{{path('impact_homepage')}}"><img class="img-responsive"  src="{{asset('public/images/LogoLittle.png')}}"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('impact_homepage') }}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('impact_about')}}">Hermandad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Juegos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('impact_forum')}}">Foro</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}  

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
             {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if is_granted('ROLE_ADMIN') %}
              <a class="nav-link" class="dropdown-item" href="{{ path('impact_forum_admin') }}"><span class="glyphicon glyphicon-log-out"></span> Administrar Foro</a>
                {% endif %}
              <a class="nav-link" class="dropdown-item" href="{{ path('fos_user_profile_show') }}">
                    <span class="glyphicon glyphicon-user"></span> Perfil</a>
              <div class="dropdown-divider"></div>
              <a class="nav-link"  class="dropdown-item" href="{{ path('fos_user_security_logout') }}" ><span class="fa fa-power-off"></span>  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
             {% else %}
          <li class="nav-item"><a class="nav-link" href="{{ path('fos_user_security_login') }}" > {{ 'layout.login'|trans({}, 'FOSUserBundle') }} <span class="fa fa-user" /></a>
          </li> 
        </div>

        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

    <div class="container">
      <div class="starter-template news">

      {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
          <div class="alert alert-{{ label }}">{{ flash }}</div>
        {% endfor %}
      {% endfor %}

      {% block body %}{% endblock %}

      </div>
    </div><!-- /.container -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
