    {% block head %}
<!DOCTYPE html>
  <html lang="es">
  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="hotel">
      <meta name="author" content="yaritza Aburdene">
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

      <title>Impact</title>

      <!-- CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link href="{{asset('public/css/style.css')}}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- Datepicker-->
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

  </head>
  <!-- NAVBAR
  ================================================== -->
  <body>
    <div class="navbar-wrapper">
        {# <div class="container"> #}
        <!-- Menu -->
        <nav class="navbar navbar-inverse navbar-static-top" style="z-index:1000;">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{path('impact_homepage')}}"><img class="img-responsive"  src="{{asset('public/images/LogoLittle.png')}}"/></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{ path('impact_homepage') }}">Inicio</a></li>
                <li><a href="{{path('impact_about')}}">Hermandad</a></li>
                <li><a href="#">Juegos</a></li>
                <li><a href="{{path('impact_forum')}}">Foro</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}                
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">                  
                      {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {% if is_granted('ROLE_ADMIN') %}
                          <li>
                            <a href="{{ path('impact_forum_admin') }}">
                              <span class="glyphicon glyphicon-log-out"></span> Administrar Foro
                            </a>
                          </li>
                        {% endif %}
                        <li>
                          <a href="{{ path('fos_user_profile_show') }}">
                            <span class="glyphicon glyphicon-user"></span> Perfil
                          </a>
                        </li>
                        <li>
                          <a href="{{ path('fos_user_security_logout') }}"> <span class="fa fa-power-off"></span>  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                      {% else %}
                        <li role="separator" class="divider"></li>
                        <li><a  href="{{ path('fos_user_security_login') }}" > {{ 'layout.login'|trans({}, 'FOSUserBundle') }} <span class="fa fa-user" /></a></li>   
                      {% endif %}
                    </ul>
                  </li>                                      
                </li>
              </ul>
            </div>
          </div>
        </nav>

        {# </div> #}
      </div>
    {% endblock %}  

<body class="body-login">

    {% block content %}
    <div class="container">                               
        <div class="col-xs-8 col-sm-8 col-md-4 col-xs-offset-1 col-sm-offset-4 col-md-offset-4">
            <img src="{{ asset('resources/images/logo_cuadrado.png') }}" class="img-responsive img-logo login">
        </div>
        <div class="col-xs-11 col-md-4 col-xs-offset-1 col-md-offset-4">                        
            <div class="container-login mt">
                <div class="head-login">
                    {% block titleBox %}
                        <div class="col-sm-10 col-sm-push-1">
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-head-login">Iniciar Sessió</a>
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-head-login">Registrar-se</a>
                        </div>
                    {% endblock %}
                </div>
                <div>
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>
            </div>                    
        </div>
    </div>
    {% endblock %}
</body>
</html>